@import '../variables.scss';
$borde: #aaa;

table {
    border-collapse: collapse;
    border: 1px solid $borde;
    width: 100%;

    td, th {
        border-collapse: collapse;
        border: 1px solid $borde;
        padding: 6px 8px;
    }

    th {
      color: $primary;
    }
}
